<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="Webmention">
			<directory prefix="class-test-" suffix=".php">tests/phpunit/tests/</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">./includes</directory>
		</include>
	</source>
</phpunit>
