/**
 * RSVP Format - Editor Styles
 */

.webmention-rsvp-popover {
	.webmention-rsvp-popover__buttons {
		display: flex;
		padding: 8px;
		gap: 4px;
	}
}

/* Style RSVP text in the editor */
data.p-rsvp {
	text-decoration: underline dotted;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}
