name: Plugin asset/readme update

on:
  push:
    branches:
      - main
    paths:
      - '.wordpress-org/**'
      - 'readme.md'
      - 'readme.txt'

jobs:
  update-assets:
    name: Update plugin assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: webmention
          README_NAME: readme.md
